/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Text-level semantics
====================
*/
/**
Add the correct font weight in Chrome and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  border-color: currentcolor;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role=list], ul[role=list] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

.nav {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 16px;
  border-bottom: 1px solid #ccc;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 38px;
  margin-right: 16px;
  padding-left: 8px;
  padding-right: 8px;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.active {
  background-color: #ddd;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px;
}

.button {
  display: inline-flex;
  position: relative;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  height: 32px;
  line-height: normal;
  cursor: pointer;
  min-width: 64px;
  margin-right: 8px;
  padding-left: 24px;
  padding-right: 24px;
  align-items: center;
  justify-content: center;
  align-self: start;
}
.button:hover {
  background-color: #ddd;
}
.button + .button-dark {
  background-color: #888;
  color: #fff;
}
.button + .button-dark:hover {
  background-color: #666;
}

.row {
  display: inline-flex;
}

.col {
  display: flex;
  flex-direction: column;
}
.col.col-1-12 {
  width: 8.3333333333%;
}
.col.col-2-12 {
  width: 16.6666666667%;
}
.col.col-3-12 {
  width: 25%;
}
.col.col-4-12 {
  width: 33.3333333333%;
}
.col.col-5-12 {
  width: 41.6666666667%;
}
.col.col-6-12 {
  width: 50%;
}
.col.col-7-12 {
  width: 58.3333333333%;
}
.col.col-8-12 {
  width: 66.6666666667%;
}
.col.col-9-12 {
  width: 75%;
}
.col.col-10-12 {
  width: 83.3333333333%;
}
.col.col-11-12 {
  width: 91.6666666667%;
}
.col.col-12-12 {
  width: 100%;
}

.table {
  display: table;
  text-align: left;
  min-width: 100%;
  border: 0;
  white-space: nowrap;
  border-collapse: collapse;
}
.table th {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 500;
  text-decoration: inherit;
  text-transform: inherit;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 16px;
  padding-left: 16px;
  height: 42px;
  background-color: #ddd;
}
.table tbody tr {
  border-top: 1px solid #ccc;
}
.table td {
  height: 40px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 16px;
  padding-left: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 12px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 16px;
}
.form-group .label {
  display: flex;
  font-size: 0.9rem;
  line-height: 0.9rem;
  margin-bottom: 2px;
}
.form-group .control-group {
  display: flex;
}
.form-group .control-group .input-control {
  display: flex;
  width: 100%;
  height: 25px;
  padding-left: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.form-group .message {
  display: inline-flex;
  font-size: 0.8rem;
  line-height: 0.8rem;
  padding-top: 2px;
  padding-left: 8px;
}

textarea.input-control {
  min-height: 60px;
}

.error {
  color: #f61313;
}

.error .input-control {
  color: #f61313;
  border-color: #f61313;
}

.form-buttons {
  display: inline-flex;
  justify-content: left;
}

.list {
  display: flex;
  flex-direction: column;
  position: relative;
  list-style: none;
  padding-inline: 0;
  min-height: 100px;
  height: 100px;
  border: 1px solid #ccc;
  min-width: 120px;
  width: 120px;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
}
.list .list-item {
  display: inline-flex;
  position: relative;
  align-items: center;
  min-height: 40px;
  height: 40px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  padding-left: 8px;
}
.list .list-item:last-child {
  border-bottom: none;
}
.list .list-item:hover {
  background-color: #ddd;
}

.pop-up {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  position: absolute;
  min-width: 40px;
  min-height: 40px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  box-sizing: border-box;
}
.pop-up .pop-up-content {
  display: flex;
  position: relative;
  padding: 8px;
}
.pop-up .pop-up-button {
  align-self: end;
}

.pop-up--open {
  visibility: visible;
}

.dialog {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 15%;
  left: 0;
  align-items: center;
  justify-self: center;
  width: 100%;
  visibility: hidden;
  z-index: 1000;
}

.dialog-surfice {
  display: flex;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  flex-direction: column;
  width: calc(100% - 30px);
  min-width: 640px;
  max-width: 865px;
  border-radius: 2px;
  opacity: 0;
}
.dialog-surfice .dialog-header {
  display: flex;
  align-items: center;
  padding: 24px 24px 0;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.0125em;
  text-decoration: inherit;
  text-transform: inherit;
  flex: 1;
  margin: 0;
}
.dialog-surfice .dialog-body {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.03125em;
  text-decoration: inherit;
  text-transform: inherit;
  margin-top: 20px;
  padding: 0 24px 24px;
}
.dialog-surfice .dialog-body.dialog-body--scollable {
  max-height: 195px;
  overflow-x: auto;
  overflow-y: scroll;
}
.dialog-surfice .dialog-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;
}

.dialog-backdrop {
  display: block;
  background-color: rgba(0, 0, 0, 0.87);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}

.dialog--open {
  visibility: visible;
}
.dialog--open .dialog-backdrop {
  opacity: 0.2;
}
.dialog--open .dialog-surfice {
  opacity: 1;
}
