@import "_variables";

.button {
    display: inline-flex;
    position: relative;
    background-color: #fff;
    border: 1px solid $border-color;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    height: 32px; 
    line-height: normal;
    cursor: pointer;
    min-width: 64px;
    margin-right: 8px;
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
    justify-content: center;
    
    &:hover {
        background-color: #ddd;
    }

    .button-emphasize {
        background-color: #888;
        color: #fff;
        
        &:hover{
            background-color: #666;
        }
    }
}