@import "_variables";
@import "mixins/generate-grid";
@import "mixins/generate-grid-spacers-and-edgers";

.row {
    display: inline-flex;
}
.col {
    display: flex;
    flex-direction: column;
    @include generate-grid($grid-size);
}
$sizes: 4, 8, 16, 24, 32, 64;
@include gnerate-grid-multiple-spacers($sizes);