@use 'sass:list';
@use 'sass:map';
@use 'sass:string';
@use "sass:math";

@function get-letter-spacing_($tracking, $font-size) {
  @return math.div($tracking, $font-size) * 1em; 
}

@function px-to-rem($px) {
  @return math.div($px, 16px) * 1rem;
}

$font-family: string.unquote('Roboto, sans-serif') !default;

$base: (
  font-family: $font-family,
  -moz-osx-font-smoothing: grayscale,
  -webkit-font-smoothing: antialiased,
) !default;

$font-weight-values: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  black: 900,
) !default;

$styles: 
    (
      headline1: (
      font-size: px-to-rem(96px),
      line-height: px-to-rem(96px),
      font-weight: map.get($font-weight-values, light),
      letter-spacing: get-letter-spacing_(-1.5, 6),
      text-decoration: inherit,
      text-transform: inherit,
    ),
    headline2: (
      font-size: px-to-rem(60px),
      line-height: px-to-rem(60px),
      font-weight: map.get($font-weight-values, light),
      letter-spacing: get-letter-spacing_(-0.5, 3.75),
      text-decoration: inherit,
      text-transform: inherit,
    ),
    headline3: (
      font-size: px-to-rem(48px),
      line-height: px-to-rem(50px),
      font-weight: map.get($font-weight-values, regular),
      letter-spacing: normal,
      text-decoration: inherit,
      text-transform: inherit,
    ),
    headline4: (
      font-size: px-to-rem(34px),
      line-height: px-to-rem(40px),
      font-weight: map.get($font-weight-values, regular),
      letter-spacing: get-letter-spacing_(0.25, 2.125),
      text-decoration: inherit,
      text-transform: inherit,
    ),
    headline5: (
      font-size: px-to-rem(24px),
      line-height: px-to-rem(32px),
      font-weight: map.get($font-weight-values, regular),
      letter-spacing: normal,
      text-decoration: inherit,
      text-transform: inherit,
    ),
    headline6: (
      font-size: px-to-rem(20px),
      line-height: px-to-rem(32px),
      font-weight: map.get($font-weight-values, medium),
      letter-spacing: get-letter-spacing_(0.25, 1.25),
      text-decoration: inherit,
      text-transform: inherit,
    ),
    subtitle1: (
      font-size: px-to-rem(16px),
      line-height: px-to-rem(28px),
      font-weight: map.get($font-weight-values, regular),
      letter-spacing: get-letter-spacing_(0.15, 1),
      text-decoration: inherit,
      text-transform: inherit,
    ),
    subtitle2: (
      font-size: px-to-rem(14px),
      line-height: px-to-rem(22px),
      font-weight: map.get($font-weight-values, medium),
      letter-spacing: get-letter-spacing_(0.1, 0.875),
      text-decoration: inherit,
      text-transform: inherit,
    ),
    body1: (
      font-size: px-to-rem(16px),
      line-height: px-to-rem(24px),
      font-weight: map.get($font-weight-values, regular),
      letter-spacing: get-letter-spacing_(0.5, 1),
      text-decoration: inherit,
      text-transform: inherit,
    ),
    body2: (
      font-size: px-to-rem(14px),
      line-height: px-to-rem(20px),
      font-weight: map.get($font-weight-values, regular),
      letter-spacing: get-letter-spacing_(0.25, 0.875),
      text-decoration: inherit,
      text-transform: inherit,
    ),
    caption: (
      font-size: px-to-rem(12px),
      line-height: px-to-rem(20px),
      font-weight: map.get($font-weight-values, regular),
      letter-spacing: get-letter-spacing_(0.4, 0.75),
      text-decoration: inherit,
      text-transform: inherit,
    ),
    button: (
      font-size: px-to-rem(14px),
      line-height: px-to-rem(36px),
      font-weight: map.get($font-weight-values, medium),
      letter-spacing: get-letter-spacing_(1.25, 0.875),
      text-decoration: none,
      text-transform: uppercase,
    ),
    overline: (
      font-size: px-to-rem(12px),
      line-height: px-to-rem(32px),
      font-weight: map.get($font-weight-values, medium),
      letter-spacing: get-letter-spacing_(2, 0.75),
      text-decoration: none,
      text-transform: uppercase,
    ),
) !default;

@function get-typography-styles() {
  @return map.keys($styles);
}


@mixin base(){
    @each $key, $val in $base {
        $key: $val;
    }
}

@mixin typography($style){
  
}

@mixin core-styles() {
  .ad-typography {
     @include base();
  }

  @each $style in get-typography-styles() {
    .ad-typography--#{$style} {
      @include typography($style);
    }
  }
}